<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - SmartHome </title>
    <style>
        nav a {
            color: #d64161;
            font-size: 3em;
            margin-left: 30px;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <nav>
        <a href="/sensores">SmartHome</a>
        <a href="/sensores1">Sensores</a>
        <a href="/devices">Devices</a>
    </nav>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>