{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Devices{% endblock %}</h1>
<div class="div-principal">
    {% for device in devices %}
    {% if device.tipo=='lampada' %}
    <a href="/devices/{{device.tipo}}/{{device.id}}" style="color: inherit;text-decoration: none;">
        <div class="div-template">
            <p style="font-size: 24px">Device {{ device.tipo }}</p>
            <ul>
                <li>id={{ device.id }}</li>
                <li>nome={{ device.nome }}</li>
                <li>Status lampada ={{ "Acessa" if device.ligado else "Desligado" }}</li>
            </ul>
            {% if device.ligado %}
            <img src="../static/light-bulb.png" alt="lampada icon" class="img-icon">
            {% else %}
            <img src="../static/light-bulb-off.png" alt="lampada icon" class="img-icon">
            {% endif %}

        </div>
    </a>
    {% elif device.tipo=='geladeira' %}
    <a href="/devices/{{device.tipo}}/{{device.id}}" style="color: inherit;text-decoration: none;">
        <div class="div-template">
            <p style="font-size: 24px">Device {{ device.tipo }}</p>
            <ul>
                <li>id={{ device.id }}</li>
                <li>nome={{ device.nome }}</li>
                {% if device.ligado==True %}
                <li>temperatura={{ '{:.2f}'.format(device.temperatura) }}°C</li>
                <li>temperatura freezer={{ '{:.2f}'.format(device.temperatura_freezer) }}°C</li>
                {% endif %}
                <li>Status geladeira ={{ "Ligado" if device.ligado else "Desligado" }}</li>

            </ul>
            {% if device.ligado %}
            <img src="../static/geladeira.png" alt="lampada icon" class="img-icon">
            {% else %}
            <img src="../static/geladeira-off.png" alt="lampada icon" class="img-icon">
            {% endif %}
        </div>
    </a>
    {% elif device.tipo=='ar_condicionado' %}
    <a href="/devices/{{device.tipo}}/{{device.id}}" style="color: inherit;text-decoration: none;">
        <div class="div-template">
            <p style="font-size: 24px">Device {{ device.tipo }}</p>
            <ul>
                <li>id={{ device.id }}</li>
                <li>nome={{ device.nome }}</li>
                {% if device.ligado==True %}
                <li>temperatura={{ '{:.2f}'.format(device.temperatura) }}°C</li>
                {% endif %}
                <li>Status Ar condicionado ={{ "Ligado" if device.ligado else "Desligado" }}</li>
            </ul>
            {% if device.ligado %}
            <img src="../static/ar-condicionado.png" alt="lampada icon" class="img-icon">
            {% else %}
            <img src="../static/ar-condicionado-off.png" alt="lampada icon" class="img-icon">
            {% endif %}
        </div>
        {% elif device.tipo=='tv' %}
        <a href="/devices/{{device.tipo}}/{{device.id}}" style="color: inherit;text-decoration: none;">
            <div class="div-template">
                <p style="font-size: 24px">Device {{ device.tipo }}</p>
                <ul>
                    <li>id={{ device.id }}</li>
                    <li>nome={{ device.nome }}</li>
                    {% if device.ligado==True %}
                    <li>Canal={{ '{:.0f}'.format(device.temperatura) }}</li>
                    {% endif %}
                    <li>Status TV ={{ "Ligado" if device.ligado else "Desligado" }}</li>
                </ul>
                {% if device.ligado %}
                <img src="../static/tv-on.png" alt="lampada icon" class="img-icon">
                {% else %}
                <img src="../static/tv-off.png" alt="lampada icon" class="img-icon">
                {% endif %}
            </div>

            {% endif %}
            {% endfor %}
</div>
{% endblock %}