{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Sensores{% endblock %}</h1>
<div class="div-principal">
    {% for sensor in sensores %}
    {% if sensor.tipo=='geladeira' %}
    <div class="div-template">
        <p style="font-size: 24px">Sensor {{ sensor.tipo }}</p>
        <ul>

            <li>id={{ sensor.id }}</li>
            <li>nome={{ sensor.nome }}</li>
            <li>temperatura={{ '{:.2f}'.format(sensor.temperatura) }}°C</li>
            <li>freezer={{ '{:.2f}'.format(sensor.temperatura_freezer) }}°C</li>
        </ul>
        <img src="../static/geladeira.png" alt="geladeira icon" class="img-icon">
    </div>
    {% elif sensor.tipo=='termico' %}
    <div class="div-template">
        <p style="font-size: 24px">Sensor {{ sensor.tipo }}</p>
        <ul>
            <li>id={{ sensor.id }}</li>
            <li>temperatura={{ '{:.2f}'.format(sensor.temperatura) }}°C</li>

        </ul>
        <img src="../static/termico.png" alt="geladeira icon" class="img-icon">
    </div>
    {% elif sensor.tipo=='presenca' %}
    <div class="div-template">
        <p style="font-size: 24px">Sensor {{ sensor.tipo }}</p>
        <ul>
            <li>id={{ sensor.id }}</li>
            {% if sensor.presenca %}
            <li>Há gente</li>
            {% else %}
            <li>Não há gente</li>
            {% endif %}
        </ul>
        {% if sensor.presenca %}
        <img src="../static/light-bulb.png" alt="lampada icon" class="img-icon">
        {% else %}
        <img src="../static/light-bulb-off.png" alt="lampada icon" class="img-icon">
        {% endif %}
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}